.slg {
    font-size: 25px;
    width: 600px;
    color: whitesmoke;
    margin-top: 630px;
    margin-left: 40px;
    font-family: font2;
}

.pop-in {
    animation-name: pop-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0.5);
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@font-face {
    font-family: font1;
    src: url(../../app/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: font2;
    src: url(../../app/fonts/Montserrat-VariableFont_wght.ttf);
}

.logotext {
    color: white;
    font-size: 70px;
    font-family: font1;
    margin-top: -155px;
    margin-left: 200px;
}

.logo {
    margin-top: 38px;
}