<div class="backg">
    <div class="pop-in-delay">
        <div class="title">&#9901; About us</div>
        <div class="about">
            Welcome to The Cake, where we're passionate about creating delicious, fresh-baked treats that you won't be able to resist. Our bakery was founded in [year] by [founder name], who dreamed of bringing the warmth and joy of homemade baked goods to our community.<br>
            <br> Since then, we've been hard at work perfecting our recipes, sourcing the best ingredients, and using traditional baking techniques to create treats that are both wholesome and indulgent. From our signature [product name] to our decadent
            [product name], each item in our bakery is made with love and care.<br>
            <br> We believe that the secret to great baking is in the details, which is why we put so much effort into every step of the process. We use only the freshest, highest-quality ingredients, and we never skimp on the butter, sugar, or other
            key ingredients that make our treats so delicious.<br>
            <br> But we're more than just a bakery - we're also a part of the community. We love getting to know our customers and hearing about the special occasions that our treats help to celebrate. Whether you're stopping by for a quick bite on your
            lunch break or picking up a cake for a birthday party, we're here to make your day a little sweeter.<br>
            <br> Thank you for choosing The Cake, and we look forward to serving you soon!
        </div>
        <div class="title">&#9901; Meet Our Chef</div>
        <div class="imagecontainer"><img src="assets/images/chef/chef.jpg" class="images"><img src="assets/images/chef/chef1.jpg" class="images"><img src="assets/images/chef/chef2.jpg" class="images"></div>
        <div class="about">Meet our chef, who will make your sweet dreams come true. Our chefs have been in the baking industry for over a decade and have developed a deep passion for pastry arts.<br><br> our chefs specializes in creating custom cakes, cupcakes, artisan
            bread, croissants, and pastriesand specialty desserts for all occasions.</div>
    </div>
</div>